<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/front_page.css">
    <title>Start(IT)</title>
  </head>
  <body>
    <div class="front_page">
      <section class="front_page_left">
        <h1>
          Esi sveicināts ĶLUS
          <span></span>
        </h1>
        <p>Tavas laboratorijas uzskaites sistēma</p>
        <img src="/static/images/front_page_icon.svg" alt=" ĶLUS Image">
      </section>
      <section class="front_page_right">
        <h2>Labdien skolotāj: Vārds Uzvārds</h2>
        
        <br>
        <div class="flex4">
          <div>Rīkojumi</div>
          <div><a href="/uzskaite">Vielu aprīkojuma uzskaite</a></div>
        </div>
        <div class="flex4">
          <div>Iepirkumi</div>
          <div>Lietotāji</div>
          <div>Standarta laboratorijas darbi</div>
        </div>
        <br>
        <br>


      </section>
    </div>
  </body>
</html>
