<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/header.css">

    <title>Start(IT)</title>
  </head>
  <body>
    <header>
      <div class="content_wrapper">
        <a href="/publiski" class="logo">
          <img src="/static/images/front_page_icon.svg">
          <span>ĶLUS</span>
        </a>
        <nav>
          <a href="/uzskaite" class="active">Uzskaite</a>
          <!-- <a href="iepirkumi.html">Iepirkumi</a>
          <a href="rikojumi.html">Rīkojumi</a>
          <a href="lietotaji.html">Lietotāji</a> -->
          <a href="/">Iziet</a>
        </nav>
      </div>
    </header>

    <div class="content">
      <div class="content_wrapper">

        <div class="flex3">
            <div class="table_filter">
                <span class="table_filter_label">Rādīt:</span>
                <a class="button" onclick="raditNoliktavasDatus(this.dataset.filter)">Visu</a>
                <a class="button" data-filter="viela" onclick="raditNoliktavasDatus(this.dataset.filter)">Vielas</a>
                <a class="button" data-filter="aprikojums"  onclick="raditNoliktavasDatus(this.dataset.filter)">Aprīkojumu</a>
            </div>
            <div class="alignRight">
                <a class="button" href="/pievienot">Pievienot ierakstu</a>
            </div>
        </div>
        
        


        

        <table id="pub_data">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nosaukums</th>
              <th>Tips</th>
              <th>Apakštips</th>
              <th>Skaits</th>
              <th>Svars/daudzums</th>
              <th>Komentāri</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td></td>
              <td>Ieraksti ielādējas...</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <tbody>
        </table>
      </div>
    </div><!--beidzas class=content-->

    <script src='/static/js/main.js'></script>
    <script>
      raditNoliktavasDatus();
    </script>
  </body>
</html>
